atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.8.24
chardet==3.0.4
defusedxml==0.5.0
Django==2.1.2
django-allauth==0.37.1
django-hamlpy==1.1.1
enum34==1.1.6
future==0.16.0
idna==2.7
more-itertools==4.3.0
oauthlib==2.1.0
Pillow==5.3.0
pluggy==0.7.1
py==1.6.0
pytest==3.8.2
pytest-django==3.4.3
python3-openid==3.1.0
pytz==2018.5
regex==2018.8.29
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
urllib3==1.23
