{% load static %}

%html{'lang': 'en'}
    %head
        %meta{'charset': 'utf-8'}
        %meta{'name': 'viewport', 'content': 'width=device-width, initial-scale=1, shrink-to-ft=no'}

        %link{'rel': 'stylesheet', 'href': '{% static "base/css/bootstrap.css" %}'}
        %link{'rel': 'stylesheet', 'href': '{% static "base/font-awesome/css/font-awesome.min.css" %}'}

        - block css

        %title
            - block title
                E-Commerce

    %body

        - include 'base/nav_bar.haml'

        - block body

        %script{'src': 'https://code.jquery.com/jquery-3.3.1.slim.min.js'}
        %script{'src': 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'}
        %script{'src': '{% static "base/js/bootstrap.js" %}'}

        - block js