%header
    %nav.navbar.navbar-expand-md.navbar-dark.bg-dark
        %a.navbar-brand{'href': '{% url "home" %}' }
            E-Commerce
        %button.navbar-toggler{'type': 'button', 'data-toggle': 'collapse', 'data-target': '#navbarCollapse', 'aria-controls': 'navbarCollapse', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation'}
            %span.navbar-toggler-icon
        %div.collapse.navbar-collapse#navbarCollapse
            %ul.navbar-nav.mr-auto
                %li.nav-item.active
                    %a.nav-link{'href': '{% url "home" %}' }
                        Home
                %li.nav-item.dropdown
                    %a.nav-link.dropdown-toggle#dropdownCategories{'href': '#', 'role': 'button', 'data-toggle': 'dropdown'}
                        Products
                    %div.dropdown-menu
                        - for category in category_list
                            %a.dropdown-item{'href': '{% url "home" %}?category={{ category.name }}'}
                                {{ category.name }}

            %ul.navbar-nav.ml-auto.float-left
                %li.nav-item
                    %a.nav-link{'href': '{% url "cart" %}'}
                        Cart
                - if user.is_authenticated
                    %li.nav-item.active
                        %a.nav-link{'href': '{% url "account_logout" %}'}
                            Logout
                - else
                    %li.nav-item
                        %a.nav-link{'href': '{% url "account_signup" %}'}
                            Signup
                    %li.nav-item.active
                        %a.nav-link{'href': '{% url "account_login" %}'}
                            Login