- extends 'base/base.haml'

- block title
    Cannot add to cart

- block body
    %div.container.m-5
        %h2.mt-5
            Sorry, this item is out of stock
        %h6.mt-3
            Cannot add this item to your shopping cart, please try again later.

        %a.btn.btn-lg.btn-outline-primary.mt-3{'href': '{% url "home" %}' }
                Go back
