- extends 'base/base.haml'

- block title
    {{ request.user }}'s cart

- block body
    %div.container
        %div.row.mt-5
            %h1.col-12
                Shopping cart

            %div.col-12.row.mt-4
                -if not cart_list
                    %h6.col-12
                        No item in cart!
                        %a{'href': '{% url "home" %}' }
                            Get back to shopping?
                - for item in cart_list
                    %div.col-6.row
                        %div.col-12
                            %hr
                        %div.col-3
                            %img{'src': '/media/{{ item.product.featured_image }}', 'alt': '', 'height': '100em'}
                        %div.col-9
                            %h6.float-right.mt-3
                                 &#8377; {{ item.product.discount_price }}
                            %h6.mt-3
                                {{ item.product.name }}
                            %p
                                %small.text-muted
                                    Quantity: {{ item.quantity }}

                            - if item.quantity > item.product.quantity
                                %small.text-danger.float-left
                                    Sorry, only {{ item.product.quantity }} item left


                            %form{'method': 'post', 'action': '{% url "delete_from_cart" %}' }
                                - csrf_token
                                %input{'type': 'hidden', 'name': 'product', 'value': '{{ item.product.pk }}' }
                                %button.btn.btn-danger.btn-sm.float-right{'type': 'submit'}
                                    Delete
                        %div.col-12
                            %hr
            - if cart_list
                %div.col-12
                    %h5
                        %span.text-muted
                            Total:
                        &#8377; {{ total }}
                %div.col-12
                    %a.btn.btn-lg.btn-outline-success.mt-4
                        Proceed to checkout