- extends 'base/base.haml'

- block title
    Checkout failed

- block body
    %div.container.m-5
        %h2.mt-5
            Sorry, order cannot be places.
        %h6.mt-3
            Your order cannot be placed please try again later.

        %a.btn.btn-lg.btn-outline-primary.mt-3{'href': '{% url "home" %}' }
            Back to home
