- extends 'base/base.haml'
- load static

- block title
    Products

- block body

    %div.row.mt-5.m-md-5
        - if not product_list
            %h3
                No products found
        - for product in product_list
            %div.col-lg-3.col-md-4.col-6
                %img.card-img-top{'src': '/media/{{ product.featured_image }}', 'alt': ''}
                %div.card-body
                    %h5.card-title
                        {{ product.name }}
                    %p.card-text
                        {{ product.description|truncatechars:60|safe }}
                    %h6.card-text.text-success
                        &#8377; {{ product.discount_price }}
                        %small.text-danger
                            &#8377;
                            %strike {{ product.price }}
                        %small.text-muted - {{ product.discount_percent }}% off
                    %p.card-text
                        - for i in product.stars
                            %i.fa.fa-star
                        - for i in product.stars_empty
                            %i.fa.fa-star-o

                    - ifnotequal product.quantity 0
                        %form{'method': 'post', 'action': '{% url "add_to_cart" %}' }
                            - csrf_token
                            %input{'type': 'hidden', 'name': 'product', 'value': '{{ product.pk }}' }
                            %button.btn.btn-primary.mt-2{'type': 'submit'}
                                Add to Cart
                    - else
                        %button.btn.btn-danger.mt-2{'disabled'}
                                Out of Stock
