- extends 'base/base.haml'
- load static

- block title
    Products

- block body

    %div.row.m-5
        - for product in product_list
            %div.col-md-3
                %img.card-img-top{'src': '/media/{{ product.featured_image }}', 'alt': ''}
                %div.card-body
                    %h5.card-title
                        {{ product.name }}
                    %p.card-text
                        {{ product.description|truncatechars:60|safe }}
                    %h6.card-text.text-success
                        &#8377; {{ product.discount_price }}
                        %small.text-danger
                            &#8377;
                            %strike {{ product.price }}
                        %small.text-muted - {{ product.discount_percent }}% off
                    %p.card-text
                        - for i in product.stars
                            %i.fa.fa-star
                        - for i in product.stars_empty
                            %i.fa.fa-star-o
                    %a.btn.btn-primary.mt-2{'href': '#'}
                        Add to Cart
